{% assign post = include.post %}

<article class="post">

  {% if site.blog.hero_layout == true %}
  {% include utils/hero.html %}
  {% endif %}

  <!-- Post title (& hero image) container -->
  <div class="post-title-container
  {% if site.blog.hero_layout == true %}
  {{ post.url | remove: '/posts/' }} {{ post.url | remove: '/posts/' }}-bleed-container bleed-hero-container
    {% else %}
  no-hero-margin
  {% endif %}">
    <!--Post hero image source-->
    {% if site.blog.hero_layout == true %}
      {% if post.source-img %}
      <div class="post-source-img">
        <span class="source-text">source: </span>
        <span class="source"><a href="{{ post.source-img }}">{{ post.source-img }}</a></span>
      </div>
      {% endif %}
    {% endif %}
    <!-- Post title -->
    <div class="heading-container {% if site.blog.hero_layout == true %}hero-heading hero-heading-post{% endif %}">
      <h1>{{ post.title }}</h1>
    <!-- Post meta -->
      <div class="post-meta">
        <span>{{ post.date | date: '%Y-%m-%d' }}</span>
        <!-- {% include utils/date_custom.html date = post.date %} -->
        <span>
        <span>Category: {{ page.categories[0] }}</span>
        </span>
      </div>
    </div>
  </div>
  {% if post.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ post.content | toc_only }}
  </div>
  {% endif %}

  <!-- Post content -->
  {{ post.content | remove: '&lt;!–-break-–&gt;' }}
</article>
